<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
<body>
<table>
  <tr>
    <td> No </td>
    <td> Brand </td>
    <td> Color </td>
    <td> Price </td>
  </tr>
  <tr> th:each="car,index:${cars}"}

  </tr>
</table>

</body>
</html>